{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="container-fluid mt-3 mb-5">
        <div class="mask d-flex justify-content-center align-items-center">
            <div class="container py-5 my-5">
                <h3 class="font-weight-bold text-center white-text pb-2">{% trans "Sign Up" %}</h3>
                {% get_providers as socialaccount_providers %}
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-6 col-xl-5">
                        <div class="card">
                            <div class="card-header bg-transparent">
                                {% if socialaccount_providers %}
                                    <p>{% blocktrans %}Already have an account? Then please
                                        <a href="{{ login_url }}">sign in</a>
                                        .{% endblocktrans %}</p>
                                    <div class="socialaccount_ballot">

                                        <ul class="socialaccount_providers">
                                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                        </ul>

                                        <div class="login-or">{% trans 'or' %}</div>

                                    </div>

                                    {% include "socialaccount/snippets/login_extra.html" %}

                                {% else %}

                                    <p class="lead text-center dark-text pt-2 mb-5">{% blocktrans %}If you have not
                                        created an account yet, then please
                                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                                {% endif %}
                            </div>
                            <div class="card-body z-depth-2 px-4 bg-transparent">
                                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                    {% csrf_token %}
                                    {% for field in form.visible_fields %}
                                        <div class="form-group">
                                            {{ field.errors }}
                                            {{ field }}
                                            {{ field.help_text }}
                                        </div>
                                    {% endfor %}
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}"
                                               value="{{ redirect_field_value }}"/>
                                    {% endif %}
                                    <button class="btn btn-indigo btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

