{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}Manajemen Pesanan{% endblock %}
{% block stylesheet %}
    <style>
        tr.noBorder td {
            border: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="section">
            <blockquote class="blockquote text-center">
                <h3 class="mb-0">Manajemen Pesanan Masuk</h3>
            </blockquote>
        </div>
        <div class="text-right">
            <div class="row text-right">
                <div class="col-sm-2">
                    <!-- Example single danger button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Pilih Status
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'manage_orders' %}">Semua</a>
                            <a class="dropdown-item" href="{% url 'manage_orders' %}?status=1">Dipersiapkan/Baru</a>
                            <a class="dropdown-item" href="{% url 'manage_orders' %}?status=2">Proses Pengantaran</a>
                            <a class="dropdown-item" href="{% url 'manage_orders' %}?status=3">Telah Diantarkan</a>
                            <a class="dropdown-item" href="{% url 'manage_orders' %}?status=4">Belum Diambil</a>
                            <a class="dropdown-item" href="{% url 'manage_orders' %}?status=5">Telah diambil</a>
                            <a class="dropdown-item" href="{% url 'manage_orders' %}?status=6">Dibatalkan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Nama Pengguna</th>
                    <th>Tanggal Order</th>
                    <th>Status</th>
                    <th class="text-right">Total Harga</th>
                    <th class="text-right">Aksi</th>
                </tr>
                </thead>
                <tbody>
                {% for order in page_obj %}
                    <tr id="order-row{{ order.id }}">
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ order.user.username }} - {{ order.user.user_profile.fullname }}</td>
                        <td>{{ order.ordered_date }}</td>
                        <td>{{ order.delivery.status_verbose }}</td>
                        <td class="text-right"><small>Rp.</small> {{ order.total|floatformat:0|intcomma }}</td>
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn btn-info"
                                    data-toggle="modal" data-target="#modal-{{ order.id }}"
                                    {% if order.finish_date %}disabled{% endif %}
                            >
                                <i class="now-ui-icons users_single-02"></i> proses
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-success"
                                    data-toggle="collapse"
                                    href="#order-detail{{ order.id }}"
                            >
                                <i class="fas fa-info"></i> detail
                            </button>
                        </td>
                    </tr>
                    <tr class="noBorder collapse" id="order-detail{{ order.id }}">
                        <td class="text-center" colspan="6">
                            <div class="card">
                                <div class="card-header card-title">Detail Pesanan</div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>nama barang</td>
                                            <td class="text-right">harga</td>
                                            <td class="text-right">jumlah</td>
                                            <td class="text-right">subtotal</td>
                                        </tr>

                                        </thead>
                                        <tbody>
                                        {% for order_item in order.order_items.all %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ order_item.item.title }}</td>
                                                <td class="text-right">{{ order_item.price|floatformat:0|intcomma }}</td>
                                                <td class="text-right">{{ order_item.qty|floatformat:0|intcomma }}</td>
                                                <td class="text-right">{{ order_item.subtotal|floatformat:0|intcomma }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="text-right" colspan="4">biaya pengiriman</td>
                                            <td class="text-right">
                                                <small>Rp. </small>{{ order.delivery.delivery_cost|floatformat:0|intcomma }}
                                            </td>
                                        </tr>
                                        <tr>

                                            <td class="text-right" colspan="4"><b>Total</b></td>
                                            <td class="text-right">
                                                <b><small>Rp. </small>{{ order.total|floatformat:0|intcomma }}</b>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                    <div class="card-body">
                                        <div class="text-center text-primary pb-3 pt-0">Alamat Pengiriman</div>
                                        <div class="container p-2 blockquote">
                                            <div class="row text-md-left">
                                                <div class="col-md-4">Alamat:</div>
                                                {% if order.delivery.self_pick %}
                                                    <div class="col-md-6">Ambil Sendiri</div>
                                                {% else %}
                                                    <div class="col-md-6">{{ order.delivery.address.address }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="row text-md-left">
                                                <div class="col-md-4">Kontak:</div>
                                                <div class="col-md-6">{{ order.user.user_profile.fullname }},
                                                    telp: {{ order.user.user_profile.no_hp }}</div>
                                            </div>
                                        </div>
                                        <div class="text-right"><a href="#" type="button" class="btn btn-primary"><i
                                                class="fas fa-print"></i> cetak</a></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <nav aria-label="Order Manajemen Pagination">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if status_filter %}&status={{ status_filter }}{% endif %}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="#" disabled>Previous</a></li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if i <= page_obj.number|add:5 and i >= page_obj.number|add:-5 %}
                            {% if page_obj.number == i %}
                                <li class="page-item"><a class="page-link" href="#" disabled>{{ i }}</a></li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ i }}{% if status_filter %}&status={{ status_filter }}{% endif %}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.next_page_number }}{% if status_filter %}&status={{ status_filter }}{% endif %}">
                                Next
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="#" disabled>Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% for order in page_obj %}
        <div class="modal fade bd-example-modal-lg" id="modal-{{ order.id }}" tabindex="-1"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-md">

                <div class="modal-content">
                    <div class="card-body p-3 m-1">
                        <form action="{% url 'manage_orders' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Nomor Pesanan</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="order_id"
                                           name="order_id"
                                           value="{{ order.id }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Total Pembayaran</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="order_total"
                                           value="{{ order.total }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Proses</label>
                                <div class="col-sm-10">

                                    <select class="selectpicker "
                                            data-style="select-with-transition btn-primary"
                                            title="Status Pesanan" data-size="7" name="status">
                                        <option disabled>Pilih Status Sekarang</option>
                                        {% if order.delivery.self_pick %}
                                            <option value="4">Belum Diambil</option>
                                            <option value="5">Telah Diambil</option>
                                        {% else %}
                                            <option value="1">Dipersiapkan</option>
                                            <option value="2">Proses Antar</option>
                                            <option value="3">Telah Diantar</option>
                                        {% endif %}
                                        <option value="6">Dibatalkan</option>
                                    </select>

                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit">Proses</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block scripts %}
{% endblock %}