{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}Shopping History{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block content %}
    <div class="section">
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <div id="profil-form" class="text-center">
                        <img src="{% if user.user_profile.profile_picture %}
            {{ user.user_profile.profile_picture.url }}
            {% else %}{% static "img/default-avatar.png" %}
            {% endif %}" alt="{{ user.user_profile.fullname }}" alt="{{ user.user_profile.fullname }}"
                             height="100" width="100" class="rounded-circle">
                        <h5 class="mt-2 mb-0">{{ user.user_profile.fullname }}</h5>
                        <span>{{ user.user_profile.no_hp }}</span>
                        <div class="text-center">
                            <button class="btn-secondary"
                                    type="submit"
                                    hx-post="{% url 'get-profile-form' %}"
                                    hx-target="#profil-form"
                                    hx-swap="innerHTML"
                            >ubah profile
                            </button>
                        </div>
                    </div>

                    <div class="px-4 mt-1 text-center align-content-center">
                        <div class="row align-content-center">
                            <div class="col bg-secondary">Jumlah Pesanan Selesai</div>
                            <div class="col bg-light">Total Pesanan</div>
                        </div>
                        <div class="row align-content-center">
                            <div class="col bg-secondary">{{ selesai }}</div>
                            <div class="col bg-light">{{ total_order }}</div>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Tanggal</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in riwayat_transaksi %}
                                    <tr>
                                        <td class="text-center">{{ forloop.counter }}</td>
                                        <td>{{ order.ordered_date }}</td>
                                        <td>{{ order.delivery.status_verbose }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4 p-2">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>nama item</th>
                                                    <th>jumlah</th>
                                                    <th>harga</th>
                                                    <th>subtotal</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in order.order_items.all %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ item.item.title }}</td>
                                                        <td>{{ item.qty|floatformat:0|intcomma }}</td>
                                                        <td>{{ item.price|floatformat:0|intcomma }}</td>
                                                        <td>{{ item.subtotal|floatformat:0|intcomma }}</td>
                                                    </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td class="text-right" colspan="4">Biaya Pengiriman</td>
                                                    <td class="text-right">{{ order.delivery.delivery_cost|floatformat:0|intcomma }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right" colspan="4">Total (Rp) </td>
                                                    <td class="text-right"><h6>{{ order.total|floatformat:0|intcomma }}</h6></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}