{% extends "layouts/base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Delivery Check-Out{% endblock %}

{% block header %}
    <div class="page-header page-header-mini header-filter">
        <div class="page-header-image"
             style="background-image: url({% static 'img/delivery-car-logo.png' %}); background-size:contain"></div>
        <div class="content-center text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h1 class="title">Pengantaran</h1>
                    <h4 class="description text-white">Mau diantar ke mana nih?</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}