{% extends "layouts/base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Delivery Check-Out{% endblock %}

{% block header %}
    <div class="page-header page-header-mini header-filter">
        <div class="page-header-image"
             style="background-image: url({% static 'img/delivery-car-logo.png' %}); background-size:contain"></div>
        <div class="content-center text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h1 class="title">Pengantaran</h1>
                    <h4 class="description text-white">Mau diantar ke mana nih?</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="contact-content">
        <div class="container">
            <div class="row">
                <div class="col-md-5 ml-auto mr-auto">

                    <h5 class="title">Metode Pengiriman</h5>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="radioPengiriman" id="exampleRadios1"
                                   value="option1">
                            <span class="form-check-sign"></span>
                            Ambil Sendiri
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="radioPengiriman" id="exampleRadios1"
                                   value="option2" checked="">
                            <span class="form-check-sign"></span>
                            Pengantaran dalam desa
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="radioPengiriman" id="exampleRadios2"
                                   value="option3" >
                            <span class="form-check-sign"></span>
                            Pengantaran Luar Desa
                        </label>
                    </div>
                    <div id="pengiriman-form">
                        {#                        nanti diisi dengan form pengiriman/peta#}
                    </div>
                </div>
                <div class="col-md-5 ml-auto mr-auto">
                    <div class="info info-horizontal mt-5">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons location_pin"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Find us at the office</h4>
                            <p> Bld Mihail Kogalniceanu, nr. 8,
                                <br> 7652 Bucharest,
                                <br> Romania
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons tech_mobile"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Give us a ring</h4>
                            <p> Michael Jordan
                                <br> +40 762 321 762
                                <br> Mon - Fri, 8:00-22:00
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="business_briefcase-24 now-ui-icons"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Legal Information</h4>
                            <p> Creative Tim Ltd.
                                <br> VAT · EN2341241
                                <br> IBAN · EN8732ENGB2300099123
                                <br> Bank · Great Britain Bank
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}