{% extends "layouts/base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Check-Out{% endblock %}

{% block header %}
    <div class="page-header page-header-mini header-filter">
        <div class="page-header-image" style="background-color: orange;"></div>
        <div class="content-center text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h1 class="title">Shopping Cart</h1>
                    <h4 class="description text-white">Selesaikan belanja di sini</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="space-100"></div>
            <div id="contentAreas" class="cd-section">
                <div id="tables">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-shopping">
                                            <thead class="">
                                            <tr>
                                                <th class="text-center">
                                                </th>
                                                <th>
                                                    Barang
                                                </th>
                                                <th class="text-right">
                                                    Harga
                                                </th>
                                                <th class="text-center">
                                                    Jumlah
                                                </th>
                                                <th class="text-right">
                                                    Subtotal
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="chart-items-table">
                                            {% include 'commerce/pages/shopping_cart/partials/order_items_list.html'%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}