{% extends "layouts/base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Check-Out{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

    <style>
        #mapid {
            height: 300px;
        }
    </style>
{% endblock %}

{% block header %}
    <div class="page-header page-header-mini header-filter">
        <div class="page-header-image" style="background-color: orange;"></div>
        <div class="content-center text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h1 class="title">Shopping Cart</h1>
                    <h4 class="description text-white">Selesaikan belanja di sini</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="space-100"></div>
            <div id="contentAreas" class="cd-section">
                <div id="tables">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-shopping">
                                            <thead class="">
                                            <tr>
                                                <th class="text-center">
                                                </th>
                                                <th>
                                                    Barang
                                                </th>
                                                <th class="text-right">
                                                    Harga
                                                </th>
                                                <th class="text-center">
                                                    Jumlah
                                                </th>
                                                <th class="text-right">
                                                    Subtotal
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="chart-items-table">
                                            {% include 'commerce/pages/shopping_cart/partials/order_items_list.html' %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-content">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="tambah-alamat" class="inline-group">
                    <p>pilih alamat pengiriman atau tambahkan alamat baru</p>
                    <select name="address-selector" id="address-selector"
                            hx-get="{% url 'set-alamat' %}"
                            hx-swap="innerHTML"
                            hx-target="#dusun_form"
                            title="pilih alamat pengiriman"
                            class="selectpicker"
                            data-style="select-with-transition btn-primary" style="display: block;"
                    >
                        <option value="0"> ambil sendiri</option>
                        {% for addr in address %}
                            <option value="{{ addr.id }}"> {{ addr.address }}-Rp.{{ addr.delivery_cost }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col">

            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="dusun_form">
                </div>
            </div>
            <div class="col">
                <div class="row p-2">
                    <div class="card" id="mapid"></div>
                </div>
            </div>
        </div>
        <div id="frm-address" class="row">
            <div class="card-body p2">
                <form class="form-group"
                      hx-target="#dusun_form" hx-swap="innerHTML"
                      method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit" hx-post="{% url 'simpan-alamat' %}">
                        tambah alamat
                    </button>
                </form>
            </div>
        </div>
    </div>


    <div class="row align-items-end">

    </div>
{% endblock %}

{% block scripts %}
    <script>
        let f1 = document.getElementById('self_pick_form')
        let f2 = document.getElementById('dusun_form')
        let e1 = document.getElementById('tambah-alamat')
        let e2 = document.getElementById('frm-address')

        function reset_form() {
            console.log('form reset')
            document.getElementById('id_latitude').value = null
            document.getElementById('id_longitude').value = null
            document.getElementById('id_address').value = null
            document.getElementById('id_dusun').value = null

        }

        document.body.addEventListener('htmx:beforeSwap', function(evt){
            reset_form()
        })

        let mymap = L.map('mapid').setView([-0.588735, 117.060181], 18)
        let koperasi_loc;

        let locate_btn = L.easyButton('fa-dot-circle', function () {
            navigator.geolocation.getCurrentPosition((position) => {
                console.log("Latitude: " + position.coords.latitude +
                    "<br>Longitude: " + position.coords.longitude)
                tujuan.setLatLng([position.coords.latitude, position.coords.longitude]).addTo(mymap)
                mymap.setView([position.coords.latitude, position.coords.longitude])
                let latitude = document.getElementById('id_latitude')
                let longitude = document.getElementById('id_longitude')
                latitude.value = position.coords.latitude
                longitude.value = position.coords.longitude
            });
        }).addTo(mymap);

        $(function () {
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Tim Pengabdian UMKT &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoiaGFyaXRzODkiLCJhIjoiY2tlazFoZGhqMDJnODJzb3ZxMHh2YnF2dCJ9.tMK-O87X1XEIwYhQE11fIQ'
            }).addTo(mymap);
            koperasi_loc = L.marker([-0.588735, 117.060181]).addTo(mymap)
                .bindPopup('Koperasi Desa.<br> Loa Duri Ulu.')
                .openPopup();
            hide_all_form()

        });


        function delivery_changed(event) {
            let delivery_method = document.getElementById('delivery-method').value;
            if (delivery_method === '1') {
                hide_all_form()
                f1.style.display = "block"

            } else {
                console.log('dalam desa')
                f2.style.display = "block"
                e1.style.display = "block"
            }
        }

        function hide_all_form() {
            f1.style.display = "none"
            f2.style.display = "none"
            e1.style.display = "none"
            e2.style.display = "none"
        }

        let tujuanIcon = L.divIcon({className: 'fas fa-truck'});
        let tujuan = L.marker([-0.588735, 117.060181], {icon: tujuanIcon}).addTo(mymap)
        mymap.on('click', (e) => {
            tujuan.setLatLng(e.latlng)
            let latitude = document.getElementById('id_latitude')
            let longitude = document.getElementById('id_longitude')
            console.log(e.latlng)
            latitude.value = e.latlng.lat
            longitude.value = e.latlng.lng
        })


    </script>
{% endblock %}