{% extends 'layouts/base.html' %}
{% load static %}

{% block header %}
    {% include 'commerce/components/home-page/carrausel.html' %}
{% endblock %}
{% block content %}
    <div class="section">
        <div class="container">
            <h2 class="section-title">Cari kebutuhanmu di sini</h2>
            <div class="row">
                {#panel pencarian dan kategori#}
                <div class="col-md-3">
                    <div class="collapse-panel">
                        <div class="card-body">
                            <div class="card card-refine card-plain">
                                <h4 class="card-title">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i
                                                    class="now-ui-icons ui-1_zoom-bold"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Cari Barang">
                                    </div>
                                </h4>
                            </div>
                            <h4 class="card-title">
                                Kategori
                            </h4>
                            {% for kat in kategori %}
                                <div class="card card-refine card-plain">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h6>
                                            <a class="collapsed" data-toggle="collapse" href="?kategori={{ kat.category_name }}">
                                                {{ kat.category_name }}
                                                <i class="now-ui-icons arrows-1_minimal-right"></i>
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {#panel barang#}
                <div class="col-md-9">
                    <div class="row">
                        {% for item in items %}
                        <div class="col-lg-4 col-md-6">
                            <a href="#">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <img src="{% static '/img/no-image.png' %}" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">{{ item.title }}</h4>
                                        <p class="card-description">
                                            {{ item.description }}</p>
                                        </p>
                                        <div class="card-footer">
                                            <div class="price-container">
                                                <span class="price"> Rp. {{ item.price }}</span>
                                            </div>
                                            <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right"
                                                    rel="tooltip" title="" data-placement="left"
                                                    data-original-title="Remove from wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </a>
                            <!-- end card -->
                        </div>
                        {% endfor %}
                        <div class="col-md-3 ml-auto mr-auto">
                            <button rel="tooltip" class="btn btn-primary btn-round" data-original-title="" title="">Load
                                more...
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}