{% extends 'layouts/base.html' %}
{% load static %}

{% block header %}
    {% include 'commerce/components/home-page/carrausel.html' %}
{% endblock %}
{% block content %}
    <div class="section">
        <div class="container">
            <h2 class="section-title">Cari kebutuhanmu di sini</h2>
            <div class="row">
                {#panel pencarian dan kategori#}
                <div class="col-md-3">
                    <div class="collapse-panel">
                        <div class="card-body">
                            <div class="card card-refine card-plain">
                                <h4 class="card-title">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i
                                                    class="now-ui-icons ui-1_zoom-bold"></i></span>
                                        </div>
                                        <input aria-label="Search"
                                                   name="nama"
                                                   hx-get="."
                                                   hx-params="nama"
                                                   hx-trigger="keyup changed delay:500ms"
                                                   hx-target="#items-grid"
                                                   hx-indicator=".htmx-indicator"
                                                    type="text" class="form-control" placeholder="Cari Barang">
                                    </div>
                                </h4>
                            </div>
                            <h4 class="card-title">
                                Kategori
                            </h4>
                            {% for kat in kategori %}
                                <a href="?kategori={{ kat.category_name }}">
                                    <div class="card card-refine card-plain">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h6>
                                                {{ kat.category_name }}
                                                <i class="now-ui-icons arrows-1_minimal-right"></i>
                                            </h6>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {#panel barang#}
                <div class="col-md-9">
                    <div class="row" id="items-grid">
                        {% include 'commerce/pages/home-page/partials/item_lists.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
